:root{
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px;
}

html{
    font-size: 10px;
}
.elements{
    --sport-color: #ffa41a;
    --ent-color: #a66bbe;
    --tech-color:#009cff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background-color: var(--light-color);
}

a{
    color: #333;
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    margin: 0.5rem 0;
}

img{
    width: 100%;
}

h1,h2,h3,h4,h5{
    font-family: 'Staatliches',cursive;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    line-height: 1.5;
}


/* utilities */
.container{
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.link{
    display: block;
    color: #333;
    margin: 1rem 0;
    border-bottom: 1px #333 dotted;
    padding-bottom: .1rem;
 }

 .link.c-white{
    color: #fff;
    border-bottom: 1px #7a7272 dotted;
}

 .linkes a:hover{
    color: var(--ent-color);
 }

.elements{
    display: inline-block;
    background-color: var(--dark-color);
    font-size: 8px;
    padding: 5px;
    border-radius: 10px;
}
.elements.ent{
    background-color: var(--ent-color);
    color: #fff;
}
.elements.tech{
    background-color: var(--tech-color);
    color: #fff;
}
.elements.sport{
    background-color: var(--sport-color);
    color: #fff;
}

.l-heading{
    font-size: 32px;
}

.py-1{
    padding: 1;
}
.py-2{
    padding: 2;
}
.py-3{
    padding: 3;
}
.py-4{
    padding: 4;
}
.py-6{
    padding: 6;
}


.btn{
    background-color: var(--dark-color);
    display: inline-block;
    color: #fff;
    padding: .5rem;
    margin-top: 1rem;
    border: none;
    text-align: center;
}
.btn.btn-primary{
    background-color: var(--primary-color);
}
.btn.btn-secondary{
    background-color: var(--secondary-color);
}
.btn-block{
    display: block;
}


.card{
    background-color: #fff;
    padding: 1rem;
    height: 100%;
}

/* Backgorund coloer */
.bg-primary{
    background-color: var(--primary-color);
    color: #fff;
}
.bg-secondary{
    background-color: var(--secondary-color);
    color: #fff;
}
.bg-dark{
    background-color: var(--dark-color);
    color: #fff;
}



/* ------- */

/* Man-nav */
#main-nav{
    background-color: #fff;  
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container{
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;

}
#main-nav .container .logo{
    width: 180px;
}

#main-nav .container ul{
    display: flex;
}

#main-nav .container ul a{
    padding: 10px;
    font-weight: 700;
}

#main-nav .container ul a.current{
    background-color: var(--primary-color);
    color: #fff;
}
#main-nav .container ul a:hover{
    background-color: var(--light-color);
    color: #333;
}

#main-nav .container .social{
   justify-self: center;
}

#main-nav .container .social a{
    padding: 5px;
    color: #333333ab;
}

/* Home page */
#home{
    background: url(../img/featured.jpg) no-repeat  center center/cover ;
    height: 55vh;
    padding: 1rem;
    position: relative;
    color: #fff;
}

#home .container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr); 
    height: 100%;
}

#home::before{
    content: '';
    position: absolute;
    background-color: var(--dark-color);
    opacity: 0.7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#home *{
    z-index: 8;
}

/* Articles*/
 #articles .container{
    padding: 1rem;

 }

 
 #articles .articles-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
 }

 #articles .articles-container > *:first-child,
 #articles .articles-container > *:last-child{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column: 1 / span 2;
    grid-gap: 1rem;
    align-items: center;
 }
 #articles .articles-container > *:last-child{
    grid-column: 2 / span 2;
 }

 #about{
    margin: 3rem 0;
 }
 .page-container{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 2rem;
 }
 .page-container > *:first-child{
    grid-row: 1 / span 3;
 }
 
 /* Footer */
 .footer{
    background-color: var(--dark-color);
    color: #fff;
    padding: 2rem;
 }

 .footer .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
 }

 .footer .container img{
    width: 150px;
 }
 .footer .container input{
    display: block;
    width: 80%;
    border: none;
 }
 .footer .container label > *:first-child{
    padding: .5rem;
 }
 .footer .container label > *:first-child:focus{
    outline: none;
 }



 .footer .container > *:last-child{
    text-align: center;
    padding: 1rem;
    background-color: #807e7e;
    grid-column: 1 / span 4;
 } 